nav {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
nav ul { 
    display: flex;
    align-items: center;
    margin-right:80px;

}
ul > li {
margin-left: 50px;

    list-style-type: none;


}
.span {
    color: #ff9900;
}
.nav-mary {
    margin-left: 50px;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.hire-me{
    padding: 15px 35px;
    background-color: #FD6E0A;
    border:0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
nav a {
    text-decoration: none;
    color: #474747;
}
/* header style  */
.header{
    background-color: #FFF8F3;
}
.banner{
    align-items: center;
    margin: 30px 30px 30px 250px;
    display: flex;
}
.banner .profile-pic {
    width: 500px;
}