nav {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
nav ul { 
    display: flex;
    align-items: center;
    margin-right:80px;

}
ul > li {
margin-left: 50px;

    list-style-type: none;


}
.span {
    color: #ff9900;
}
.nav-mary {
    margin-left: 50px;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.hire-me{
    padding: 15px 35px;
    background-color: #FD6E0A;
    border:0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
nav a {
    text-decoration: none;
    color: #474747;
}
/* header style  */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    align-items: center;
    margin: 30px 30px 0px 250px;
    display: flex;
    justify-content: space-between;
}
.banner .profile-pic {
    width: 500px;
    
}
.bann-hi{
    size: 55px;
    margin-bottom: 0px;
    color: #474747;
}
.bann-hardy{
    size: 95px;
    width: 800px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500;
}
/* about section  */
.about{
    padding: 130px;
    margin: 150px auto;
    border-radius: 10px;
    background-color: #FFF8F3;
    max-width: 1140px;

}
.section-tittle {
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
    /* margin-bottom: 30px; */
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}
/* about info */

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

/* what i do section  */
#what-i-do-des{
    padding: 30px 80px;

    
}
.what-i-do-section{
    padding: 0px 130px;
    margin: 150px auto;
    border-radius: 10px;
    /* background-color: #FFF8F3; */
    max-width: 1140px;
}

.skills-container{
    display: flex;
    
}
.skills{
    padding:30px;
    gap: 24px;
}